<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    	
        <div id="company_logo">
        	<a href="#"><img src="{{asset('assets')}}/images/templatemo_logo_2.png" alt="logo" /></a>
        </div>
        
        <div id="copyright">
        	<a href="index.html">Home</a> | <a href="about.html">Company</a> | <a href="services.html">Services</a> | 
            <a href="#">Flash Templates</a> | <a href="gallery.html">Gallery</a> | <a href="contact.html">Contact</a>
            <br /><br />
            
	        Copyright © 2048 <a href="#">Your Company Name</a>
            <br /><br />
        	<!-- Credit: www.templatemo.com -->
        </div>
        
        <div class="cleaner"></div>
    </div>
</div>
<!-- templatemo 282 building -->
<!-- 
Building Template 
http://www.templatemo.com/preview/templatemo_282_building 
-->