{% extends "home/homebase.html.twig" %}
{% block title %}Index Page {% endblock%} 
{% block body %} 
   <div id="templatemo_main_column">
    
    	<div id="templatemo_menu">
            <ul>
                <li><a href="index.html" class="current">01<span>Home</span></a></li>
                <li><a href="about.html">02<span>Company</span></a></li>
                <li><a href="services.html">03<span>Services</span></a></li>
                <li><a href="gallery.html">04<span>Gallery</span></a></li>
                <li><a href="contact.html">05<span>Contact</span></a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
        
        <div id="templatemo_content">
        	
            <div class="col_w670">
                <h2>Building HTML CSS Template</h2>
                <p><em>Etiam ut urna ante, ut pulvinar ante. Vivamus a metus quam. Aenean non eros nunc. Curabitur convallis molestie sem, et egestas enim ornare non. Integer convallis eros vitae ante posuere tempus.</em></p>
                <p align="justify">Building is a full-site HTML template from <a href="#">templatemo</a> that can be adapted and applied for any website. There are total <a href="services.html">5 HTML pages</a> included. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>. You can download, edit and use this template for your personal or business websites. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per   inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus   et ultrices posuere cubilia Curae; Vestibulum nibh ante, pellentesque   quis consectetur vel, rutrum id sem.  </p>
              <div class="btn_more float_r"><a href="#"><span>&raquo;</span> Read more</a></div>
                <div class="cleaner"></div>
			</div>
            
            <div class="col_w315 float_l">
            	<h3>Construction Services</h3>
                <div class="image_wrapper"><a href="#"><img src="{{asset('assets')}}/images/templatemo_image_01.jpg" alt="flash template" /></a></div>
                <p><em>Morbi sed nulla ac est cursus suscipit eu ac lectus. Curabitur  ullamcorper nibh nisi, sed eleifend dolor.</em></p>
                            
                <ul class="tmo_list">
                    <li>Sed nec eros egestas nisl </li>
                    <li>Morbi sed nulla ac est cursus </li>
                    <li>Curabitur ullamcorper nibh </li>
                    <li>Pellentesque adipiscing </li>                        
                </ul>
                <div class="cleaner"></div>
                <div class="btn_more"><a href="services.html"><span>&raquo;</span> Read more</a></div>
                
            </div>
            
            <div class="col_w315 float_r">
            	<h3>Mega Projects</h3>
                <div class="image_wrapper"><a href="#"><img src="{{asset('assets')}}/images/templatemo_image_02.jpg" alt="flash source files" /></a></div>
                <p><em>Etiam ut urna ante, ut pulvinar ante. Vivamus a metus quam. Aenean non eros nunc. </em></p>
            	<p align="justify">Fusce ut ultrices libero, at eleifend metus. Mauris sit amet fermentum   quam. Phasellus at mauris diam. Cras laoreet imperdiet neque, et pretium   nibh efficitur at. Integer iaculis tortor sapien, et imperdiet elit   accumsan vel. Vestibulum porta mauris et ligula sodales, sollicitudin   molestie libero varius.</p>
            <div class="btn_more"><a href="gallery.html"><span>&raquo;</span> Read more</a></div>
            </div>
        </div>
        
    </div>
    <div class="cleaner"></div>
{% endblock%}

