	<div id="templatemo_menu">
            <ul>
                <li><a href="index.html" class="current">01<span>Home</span></a></li>
                <li><a href="about.html">02<span>Company</span></a></li>
                <li><a href="services.html">03<span>Services</span></a></li>
                <li><a href="gallery.html">04<span>Gallery</span></a></li>
                <li><a href="contact.html">05<span>Contact</span></a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->